<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.commands">
      <category
            id="org.unicase.ui.navigator.project"
            name="Project and Model Element Commands">
      </category>
   </extension>
   <extension point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <separator
               name="separator5">
         </separator>
         <command
               commandId="org.emftrace.ui.exportUMLModel"
               icon="icons/export.gif"
               label="Export as UML-Diagram"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.emftrace.metamodel.UMLModel.UMLBase">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.emftrace.ui.exportURNModel"
               icon="icons/export.gif"
               label="Export as jUCMNav Diagram"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.emftrace.metamodel.URNModel.URNBase">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.emftrace.ui.exportOWLModel"
               icon="icons/export.gif"
               label="Export as Protégé Ontology"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.emftrace.metamodel.OWLModel.OWLBase">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.emftrace.ui.exportBPMNModel"
               icon="icons/export.gif"
               label="Export as BPMN-Diagram"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.emftrace.metamodel.BPMN2Model.BPMNBase">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.emftrace.ui.exportFeatureModel"
               icon="icons/export.gif"
               label="Export as Pure::Variants Feature Model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.emftrace.metamodel.FeatureModel.FeatureModelBase">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
         <menuContribution
               locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.emftrace.ui.importLegacyModel"
                  icon="icons/import2.gif"
                  label="Import EMFStore legacy file"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.emftrace.ui.importModel"
                  icon="icons/import2.gif"
                  label="Import Model from CASE-Tool"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <separator
                  name="separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.emftrace.ui.applyTraceRules"
                  icon="icons/search1.gif"
                  label="Search for Dependencies"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.emftrace.ui.transitivityAnalysis"
                  icon="icons/search1.gif"
                  label="Search for Transitive Dependencies"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <separator
                  name="separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.emftrace.ui.validateTraceLinks"
                  icon="icons/search4.gif"
                  label="Validate Traceability-Links"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.emftrace.ui.validateTraces"
                  icon="icons/search4.gif"
                  label="Validate Traces"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.emftrace.ui.cleanProject"
                  icon="icons/clean.gif"
                  label="Clean Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <separator
                  name="separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.emftrace.ui.openTraceEditorView"
                  label="Open Editor View"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.emftrace.metamodel.LinkModel.Trace">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.emftrace.ui.showModelDependencyGraph"
                  icon="icons/search3.gif"
                  label="Show Model Dependencies"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                     <not>
                        <or>
                           <instanceof
                                 value="org.emftrace.metamodel.RuleModel.RuleCatalog">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.emf.ecp.core.ECPProject">
                           </instanceof>
                           <instanceof
                                 value="org.emftrace.metamodel.LinkModel.LinkTypeCatalog">
                           </instanceof>
                           <instanceof
                                 value="org.emftrace.metamodel.ReportModel.ReportContainer">
                           </instanceof>
                           <instanceof
                                 value="org.emftrace.metamodel.LinkModel.LinkContainer">
                           </instanceof>
                           <instanceof
                                 value="org.emftrace.metamodel.ChangeModel.ChangeTypeCatalog">
                           </instanceof>
                        </or>
                     </not>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.emftrace.ui.applyImpactRules"
                  icon="icons/search1.gif"
                  label="Perform Impact Analysis"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                     <not>
                        <or>
                           <instanceof
                                 value="org.emftrace.metamodel.RuleModel.RuleCatalog">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.emf.ecp.core.ECPProject">
                           </instanceof>
                           <instanceof
                                 value="org.emftrace.metamodel.LinkModel.LinkTypeCatalog">
                           </instanceof>
                           <instanceof
                                 value="org.emftrace.metamodel.ReportModel.ReportContainer">
                           </instanceof>
                           <instanceof
                                 value="org.emftrace.metamodel.LinkModel.LinkContainer">
                           </instanceof>
                           <instanceof
                                 value="org.emftrace.metamodel.ChangeModel.ChangeTypeCatalog">
                           </instanceof>
                        </or>
                     </not>
                  </iterate>
               </visibleWhen>
            </command>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.emftrace.ui.modelimport.ModelImportHandler"
            id="org.emftrace.ui.importModel"
            name="EMFTrace Import">
      </command>
      <command
            defaultHandler="org.emftrace.ui.modelexport.UMLExportHandler"
            id="org.emftrace.ui.exportUMLModel"
            name="UML Export">
      </command>
      <command
            defaultHandler="org.emftrace.ui.modelexport.URNExportHandler"
            id="org.emftrace.ui.exportURNModel"
            name="URN Export">
      </command>
      <command
            defaultHandler="org.emftrace.ui.modelexport.OWLExportHandler"
            id="org.emftrace.ui.exportOWLModel"
            name="OWL Export">
      </command>
      <command
            defaultHandler="org.emftrace.ui.modelexport.BPMNExportHandler"
            id="org.emftrace.ui.exportBPMNModel"
            name="BPMN Export">
      </command>
      <command
            defaultHandler="org.emftrace.ui.analysis.TransitivityAnalysisHandler"
            id="org.emftrace.ui.transitivityAnalysis"
            name="Transitivity Analysis">
      </command>
      <command
            defaultHandler="org.emftrace.ui.rules.TraceRuleHandler"
            id="org.emftrace.ui.applyTraceRules"
            name="Perform Dependency Detection">
      </command>
      <command
            defaultHandler="org.emftrace.ui.validation.TraceValidationHandler"
            id="org.emftrace.ui.validateTraces"
            name="Validate Traces">
      </command>
      <command
            defaultHandler="org.emftrace.ui.validation.TraceLinkValidationHandler"
            id="org.emftrace.ui.validateTraceLinks"
            name="Validate Traceability-Links">
      </command>
      <command
            defaultHandler="org.emftrace.ui.modelimport.TraceRuleImportHandler"
            id="org.emftrace.ui.importRules"
            name="TraceRule Import">
      </command>
      <command
            defaultHandler="org.emftrace.ui.validation.ProjectCleaningHandler"
            id="org.emftrace.ui.cleanProject"
            name="Clean Project">
      </command>
      <command
            defaultHandler="org.emftrace.ui.modelexport.FeatureModelExportHandler"
            id="org.emftrace.ui.exportFeatureModel"
            name="Feature Model Export">
      </command>
      <command
            defaultHandler="org.emftrace.ui.editors.handlers.OpenTraceEditorHandler"
            id="org.emftrace.ui.openTraceEditorView"
            name="Open Trace Editor View">
      </command>
      <command
            defaultHandler="org.emftrace.ui.editors.handlers.ShowModelDependencyGraphHandler"
            id="org.emftrace.ui.showModelDependencyGraph"
            name="Show Model Dependency Graph">
      </command>
      <command
            defaultHandler="org.emftrace.ui.rules.ImpactRuleHandler"
            id="org.emftrace.ui.applyImpactRules"
            name="Perform Impact Analysis">
      </command>
      <command
            defaultHandler="org.emftrace.ui.modelimport.LegacyFileImportHandler"
            id="org.emftrace.ui.importLegacyModel"
            name="EMFTrace Legacy Import">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.emftrace.ui.editors.EMFTraceEditor"
            default="false"
            id="org.emftrace.ui.editor.EMFTraceEditor"
            name="EMFTraceEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="org.emftrace.ui.modelelementopener.EMFTraceModelElementOpener">
         <staticTester
               modelElement="org.eclipse.emf.ecore.EObject"
               priority="10">
         </staticTester>
      </modelElementOpener>
   </extension>

</plugin>
